<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<p>
  <img src="https://instrumentalapp.com/graphs/QlJDeGhjWmhaN05FdWt1Vkhrd1pwZUptUUVvSHM0U0wwcXFKVEJVZjBqOWRhVmFSTktveE8/new.png?graph%5Bmetrics%5D%5B%5D=database.users&graph%5Bmetrics%5D%5B%5D=gauge_count%28database.users%29&id=new&project_id=1492&theme=dark&resolution=60&duration=3600" />
</p>
