<h1>Metrician Test Harness</h1>

<h4>Git Repositories</h4>
<ul>
  <li><a href="https://github.com/Instrumental/metrician-ruby">Metrician Code</a></li>
  <li><a href="https://github.com/Instrumental/metrician-test-harness">Test Harness Code</li>
</ul>

<h4>Functionality Tests</h4>
<ul>
  <li><%= link_to "Timers", timers_path %> - Test Method Tracing</li>
  <li><%= link_to "Exceptions", exceptions_path %> - Test Exception Reporting</li>
  <li><%= link_to "Users", users_path %> - Test ActiveRecord Integration</li>
  <li><%= link_to "Redis", redis_path %> - Test Redis</li>
  <li><%= link_to "Delayed Job", delayed_job_path %> - Test Delayed Job(s)</li>
  <li><%= link_to "Sidekiq", sidekiq_path %> - Test Sidekiq(s)</li>
  <li><%= link_to "Resque", resque_path %> - Test Resque(s)</li>
  <li><%= link_to "Memcached (Dalli)", memcached_path %> - Test Memcached</li>
  <li><%= link_to "External Service", external_service_path %> - Test External Services</li>
</ul>


<h4>A silly cat</h4>
<%= image_tag("silly-cat.jpg", height: "250px") %>
