<p>Memcached Current Value: <%= @value %></p>
<p>
  <%= form_tag :memcached, method: :patch do %>
    <%= label_tag :value, "New Value" %>
    <%= text_field_tag :value %>
    <%= submit_tag %>
  <% end %>
</p>

<p>
  <img src="https://instrumentalapp.com/graphs/Ukw0dEVkVGtHNnJ5WHYvNnpsOE91ZUk5L2pIcEdMZ1dHUkgubHlteDJYbkRSY0JNV3FFQi4/new.png?graph[metrics][]=cache.command&graph[metrics][]=gauge_count(cache.command)&id=new&project_id=1492&theme=dark&resolution=60&duration=3600" />
</p>
